.cadastro {
  background-color: #f7f7f7;
  padding-top: 150px;
}

.cadastro h1 {
  text-align: center;
  margin-bottom: 40px;
}

.container {
  margin-bottom: 30px;
}

p {
  font-size: 20px;
  margin-bottom: 40px;
}

.form-control {
  background-color: #f7f7f7;
  width: auto;
}

.legendas {
  font-size: 10px;
  text-align: center;
  margin-bottom: 20px;
}

footer {
  height: 300px;
}

.etapa {
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 2s;
  -o-transition-duration: 2s;
  -webkit-transition-duration: 2s;
  transition-duration: 2s;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  display: none;
}
.etapa .input {
  /* Small devices (tablets, 768px and up) */
}
.etapa .input input {
  text-align: center;
}
@media (min-width: 768px) {
  .etapa .input {
    text-align: left;
    padding-left: 0;
  }
  .etapa .input input {
    text-align: left;
  }
}
.etapa .legenda {
  /* Small devices (tablets, 768px and up) */
}
@media (min-width: 768px) {
  .etapa .legenda {
    text-align: right;
    padding-right: 0;
  }
}
.etapa.active {
  display: block;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

.etapa-1 {
  display: block;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

.panel {
  padding-bottom: 0;
}
.panel .table {
  margin-bottom: 0;
}

.panel.cartao {
  padding: 60px;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: left;
}
.panel.cartao .control-label {
  font-size: 14px;
}
.panel.cartao .form-control {
  background-color: white;
  border: 1px solid #F4F4F5;
  border-bottom: 2px solid #20497D;
  height: 48px;
  margin: 0;
}
.panel.cartao .form-control.nome, .panel.cartao .form-control.numero {
  width: 100%;
}
.panel.cartao .codigo {
  padding-left: 20px;
}
.panel.cartao .codigo .form-group {
  /* Small devices (tablets, 768px and up) */
}
@media (min-width: 768px) {
  .panel.cartao .codigo .form-group {
    padding-left: 15px;
  }
}
.panel.cartao .cartao-codigo {
  width: 100px;
  display: inline-block;
  margin-left: 20px;
  float: right;
  /* Small devices (tablets, 768px and up) */
}
@media (min-width: 768px) {
  .panel.cartao .cartao-codigo {
    float: none;
  }
}
.panel.cartao .bandeira {
  padding: 0;
  display: table;
  /* Small devices (tablets, 768px and up) */
}
.panel.cartao .bandeira .titulo {
  width: 100%;
  margin-top: 0;
}
.panel.cartao .bandeira .bandeiras img {
  margin-bottom: 5px;
}
@media (min-width: 768px) {
  .panel.cartao .bandeira {
    padding-left: 15px;
    padding-right: 15px;
    display: inherit;
  }
}
