  @import "bootstrap/variables";
@import "compass";

.form-control::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: $text-color;
}
.form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: $text-color;
   opacity:  1;
}
.form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: $text-color;
   opacity:  1;
}
.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: $text-color;
}

.areadocliente{
  // background-color: #fff;
  padding-top: 110px;
}
.container{
  margin-bottom: 30px;
}
p{
  // font-size: 20px;
  margin-bottom: 40px;
}

.legendas{
  font-size: 10px;
  text-align: center;
  margin-bottom: 20px;
}
footer{
  height: 300px;
}
.meus-dados{
  background-color: #fff;
}
.meus-dados,.meus-produtos{
  padding-top: 40px;
  padding-bottom: 40px;
  .form-group{
    position: relative;
    .fa{
      @include transition-property(opacity, right, transform, -webkit-transform, -ms-transform);
      @include transition-duration(0.5s);
      @include opacity(0);
      @include transform(rotate(-45deg));
      position: absolute;
      right: 0;
      bottom: 14px;
      font-size: 24px;
      color: $brand-primary;
    }
    label{
      font-size: 14px;

    }
    &:hover{
      .fa{
        right: 12px;
        @include transform(rotate(0));

        @include opacity(1);
      }
    }
    &.active{
      .fa{
        right: 12px;
        @include transform(rotate(0));
        @include opacity(1);
      }
    }
  }
  .botoes{
    width: 100%;
    text-align: center;
    /* Small devices (tablets, 768px and up) */
     @media (min-width: $screen-sm-min) {
      text-align: right;
     }
  }
  .btn{
    width: auto;
    /* Small devices (tablets, 768px and up) */
     @media (min-width: $screen-sm-min) {
      // float: right;
      width: auto;
     }
  }
  .btnMDCancelar{
    width: 120px;
    display: none;
    margin-right: 10px;
    /* Small devices (tablets, 768px and up) */
     @media (min-width: $screen-sm-min) {
      //  float: right;
       margin-right: 10px;
     }
    &.active{
      display: inline-block;
      background-color: #c00;
    }
  }
}
.form-group label{
  margin-bottom: 0 !important;
}
.form-control{
  background-color: white;
  border: 1px solid $body-bg;
  border-bottom: 2px solid $brand-primary;
  height: 48px;
  margin: 0;
  &.nome, &.numero{
    width: 100%;
  }
}

// lista de produtos
.ac-container{
	text-align: left;
  padding: 0;
}
.ac-container label{
	padding: 5px 20px;
	position: relative;
	z-index: 20;
	margin: 0;
  display: table;
  width: 100%;
	cursor: pointer;
	color: #fff;
  background: $brand-primary;
  font-weight: normal;
  padding: 12px;
  font-size: 20px;
  .fa{
    position: absolute;
    top: 50%;
    margin-top: -10px;
    left: 12px;
  }
  .titulo{
    float: left;
    margin-top: 0;
    margin-left: 30px;
  }
  .preco{
    float: right;
    font-size: 16px;
    margin-top: 3px;
  }
  .titulo,.preco{
    display: inline-block;
  }
}

.ac-container article{
  overflow: hidden;
  height: 0;
  @include transition-property(height);
  @include transition-duration(0.5);
}



.ac-container label:hover{
	background: lighten($brand-primary, 5%);
}
.ac-container input:checked + label,
.ac-container input:checked + label:hover{
	background: $brand-danger;
}
.ac-container article input:checked + label,
.ac-container article input:checked + label:hover{
	background: white;
}
.ac-container input, .ac-small input{
	display: none;
}
.ac-container article label{
  // overflow: hidden;
  height: 0px;
  width: 100%;
  position: relative;
  z-index: 10;
  &.item{
    display: table;
    width: 100%;
    position: relative;
    padding: 20px;
    padding-left: 15px;
    font-size: 15px;
    cursor: pointer;
    color: $text-color;
    background-color: white;
    border-top: 1px solid $body-bg;
    .titulo{
      margin-top: 0;
      width: 100%;
      .fa{
        position: absolute;
        left: 13px;
        top: 50%;
        margin-top: -10px;
        left: 12px;
      }
    }
  }
  &:hover{
    background: $body-bg;
  }
}
.dados{
  height: 0;
  padding: 0;
  overflow: hidden;
  @include transition-property(height, padding);
  @include transition-duration(0.5s);
  .form-group{
    margin-bottom: 0;
    input{
      display: block !important;
    }
  }
}
.dados.cartao{

  .bandeira{
    display: inline-block;
    .titulo{
      width: 100%;
      margin-top: 0;
    }
    img{
      width: 10%;
    }
  }
  .btn{
    font-size: 16px;
    width: 100%;
  }
  .alterar{
    display: none;
  }
  .ativo{
    display: block !important;
  }
}
.ac-container article input:checked ~ .dados.veiculo{
  height: auto;
  padding: 20px;
  padding-top: 0;
  .form-group{
    margin-bottom: 5px;
  }
  /* Small devices (tablets, 768px and up) */
   @media (min-width: $screen-sm-min) {
      height: auto;
      .form-group{
        margin-bottom: 0;
      }
   }
}
.ac-container article input:checked ~ .dados.cartao{
	height: auto;
  padding: 20px;
  padding-top: 0;
  .form-group{
    margin-bottom: 10px;
  }
  .alterar{
    display: none;
  }
  /* Small devices (tablets, 768px and up) */
   @media (min-width: $screen-sm-min) {
      height: auto;
      .form-group{
        margin-bottom: 5px;
      }
   }
}

article.ac-small{
  @include transition-property(height);
  @include transition-duration(0.5s);
}
.ac-container input:checked ~ article.ac-small{
	height: auto;
}

// Modal

.modal-box{
  position: fixed;
  background: rgba(0,0,0,0);
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 99999;
  @include transition-property(background);
  @include transition-duration(1s);
  .inner{
    background-color: white;
    position: fixed;
    display: block;
    top: 10%;
    left: 0;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 40px;
    /* Small devices (tablets, 768px and up) */
     @media (min-width: $screen-sm-min) {
        left: 50%;
        margin-left: -200px;
        width: 400px;
     }
     .btnFecharIcon{
        position: absolute;
        top: 4px;
        right: 9px;
        cursor: pointer;
        color: $brand-primary;
        font-size: 38px;
     }
     .btnFechar2{
        margin-top: 40px;
     }
  }
  &.modal-cartao{
    .inner{
      width: 100%;
      margin-left: 0;
      padding: 0;
      left: 0;
      top: 0;
      overflow-y: scroll;
      padding-bottom: 30px;
      h3{
        margin-bottom: 40px;
        margin-top: 60px;
      }
      .btnFechar2{
        margin-top: 0;
      }
      .btnAlterarCartao{
        display: inline-block;
      }
      .form-group{
        margin-bottom: 11px;
      }
      /* Small devices (desktops, 992px and up) */
       @media (min-width: $screen-sm-min) {

         width: 600px;
         margin-left: -300px;
         top: 10%;
         left: 50%;
         overflow-y: hidden;
         .form-group{
           margin-bottom: 40px;
         }
       }
       /* Small devices (desktops, 992px and up) */
        @media (min-width: $screen-md-min) {
          width: 800px;
          margin-left: -400px;
          top: 10%;
          left: 50%;
        }
    }
    .confirmacao{
      display: none;
    }
    &.active{
      .confirmacao{
        display: block;
      }
      .cartao{
        display: none;
      }
      .btnAlterarCartao{
        display: none;
      }
    }
  }
  &.ativo{
    display: block;
    background: rgba(0,0,0,0.5);
  }
}
.modal-condicoes{
  .inner{
  text-align: left;
  overflow: scroll;
  height: 100%;
  top: 0;
  }
}

// list accordion
.accordion {
    background-color: $brand-primary;
    color: white;
    cursor: pointer;
    width: 100% !important;
    border: none;
    text-align: left;
    font-size: 15px;
    transition: 0.4s;
    position: relative;
    &:nth-child(even){
      background-color: lighten($brand-primary, 10%);
    }
}

.list{
  .accordion{
    background-color: $brand-primary;
  }
  &:nth-child(even){
    .accordion{
      background-color: lighten($brand-primary, 10%);
    }
  }
  &:nth-child(even):hover{
    .accordion{
      background-color: lighten($brand-primary, 20%);

    }
  }
}

.meus-produtos {
    .header{
      p{
        margin-bottom: 0;
      }
    }
    .col{
      padding: 13px;
      padding-left: 0;
      &:first-child {
        padding-left: 47px;
        font-size: 12px;
        /* Small devices (tablets, 768px and up) */
         @media (min-width: $screen-sm-min) {
           font-size: 15px;
         }
      }
    }
}

div.accordion.active, .accordion:hover{
    background-color: lighten($brand-primary, 30%);
}

div.accordion:focus, .accordion:focus{
  @include box-shadow(0);
}

div.accordion:after {
  content: '\f107';
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  color: white;
  position: absolute;
  top: 13px;
  left: 16px;
}

div.accordion.active:after {
    content: "\f106";
}
div.content{
  display: none;
  width: 100%;
  .btnProdutos{
    width: 100%;
    padding: 20px;
    padding-left: 47px;
    position: relative;
    background-color: lighten($body-bg, 10%);
    border-bottom: 1px solid $body-bg;
    cursor: pointer;
    @include transition-property(background-color);
    @include transition-duration(0.3s);
    .fa{
      position: absolute;
      top: 22px;
      left: 16px;
    }
    .editar{
      i{
        // float: right;
        position: relative;
        top: 0;
        left: 0;
        float: left;
        margin-left: 6px;
      }
      span{
        float: left;
      }
    }
    &:hover{
      background-color: $body-bg;
    }
  }
  .contentCondicoes{
    display: none;
    background-color: white;
    padding: 20px;
    padding-left: 47px;
    border-bottom: 1px solid $body-bg;
    p{
      margin-bottom: 20px;
    }
  }
}
div.content .comprovante {
    width: 100%;
    padding: 13px;
    padding-left: 15px;
    padding-bottom: 20px;
    background-color: white;
    .row{
      margin-bottom: 5px;
    }
    .titulo{
      text-align: right;
      font-weight: bold;
    }
    /* Small devices (tablets, 768px and up) */
     @media (min-width: $screen-sm-min) {
       padding-left: 47px;
     }
}

// cartão
.panel.cartao{
  padding: 60px;
  padding-top: 40px;
  padding-bottom: 0;
  text-align: left;
  .control-label{
    font-size: $font-size-base;
  }
  .form-control{
    background-color: white;
    border: 1px solid $body-bg;
    border-bottom: 2px solid $brand-primary;
    height: 48px;
    margin: 0;
    &.nome, &.numero{
      width: 100%;
    }
  }
  .codigo{
    padding-left: 20px;
    .form-group{
        .form-control{
          width: 60%;
          float: left;
        }

        /* Small devices (tablets, 768px and up) */
         @media (min-width: $screen-sm-min) {
            padding-left: 15px;
         }
    }
  }
  .cartao-codigo{
    width: 100px;
    display: inline-block;
    margin-left: 20px;
    float: right;
    /* Small devices (tablets, 768px and up) */
     @media (min-width: $screen-sm-min) {
      float: left;
      width: 30%;
     }
  }
  .bandeira{
    padding: 0;
    display: table;
    .titulo{
      width: 100%;
      margin-top: 0;
    }
    .bandeiras{
      img{
        margin-bottom: 5px;
      }
    }
    /* Small devices (tablets, 768px and up) */
     @media (min-width: $screen-sm-min) {
        padding-left: 15px;
        padding-right: 15px;
        display: inherit;
     }
  }

}
