@import "bootstrap/variables";
@import "compass";
.cadastro{
  background-color: lighten($body-bg,1%);
  padding-top: 150px;
}
.cadastro h1{
  text-align: center;
  margin-bottom: 40px;
}
.container{
  margin-bottom: 30px;
}
p{
  font-size: 20px;
  margin-bottom: 40px;
}
.form-control{
  background-color: lighten($body-bg, 1%);
  width: auto;
}
.legendas{
  font-size: 10px;
  text-align: center;
  margin-bottom: 20px;
}
footer{
  height: 300px;
}

// etapas
.etapa{
  @include transition-property(opacity);
  @include transition-duration(2s);
  @include opacity(0);
  display: none;
  .input{
    input{
      text-align: center;
    }
    /* Small devices (tablets, 768px and up) */
     @media (min-width: $screen-sm-min) {
       text-align: left;
       padding-left: 0;
       input{
         text-align: left;
       }
     }
  }
  .legenda{
    /* Small devices (tablets, 768px and up) */
     @media (min-width: $screen-sm-min) {
       text-align: right;
       padding-right: 0;
     }
  }

  &.active{
    display: block;
    @include opacity(1);
  }
}
.etapa-1{
  display: block;
  @include opacity(1);
}

// tabela de serviço - carrinho de compra
.panel{
  padding-bottom: 0;
  .table{
    margin-bottom: 0;
  }
}

// cartão
.panel.cartao{
  padding: 60px;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: left;
  .control-label{
    font-size: $font-size-base;
  }
  .form-control{
    background-color: white;
    border: 1px solid $body-bg;
    border-bottom: 2px solid $brand-primary;
    height: 48px;
    margin: 0;
    &.nome, &.numero{
      width: 100%;
    }
  }
  .codigo{
    padding-left: 20px;
    .form-group{

        /* Small devices (tablets, 768px and up) */
         @media (min-width: $screen-sm-min) {
            padding-left: 15px;
         }
    }
  }
  .cartao-codigo{
    width: 100px;
    display: inline-block;
    margin-left: 20px;
    float: right;
    /* Small devices (tablets, 768px and up) */
     @media (min-width: $screen-sm-min) {
      float: none;
     }
  }
  .bandeira{
    padding: 0;
    display: table;
    .titulo{
      width: 100%;
      margin-top: 0;
    }
    .bandeiras{
      img{
        margin-bottom: 5px;
      }
    }
    /* Small devices (tablets, 768px and up) */
     @media (min-width: $screen-sm-min) {
        padding-left: 15px;
        padding-right: 15px;
        display: inherit;
     }
  }

}
