// fonts
@import url('https://fonts.googleapis.com/css?family=Droid+Sans:400,700');

// bootstrap
@import "bootstrap";

// icons fontawsome
@import "font-awesome";

body{
  padding-top: 110px;
}

// nav bar
.navbar{
  padding-top: 10px;
  padding-bottom: 10px;
  .container{
    margin-bottom: 0;
  }
}
.navbar-brand{
  background-image: url('../img/AssistCenter-logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-size: contain;
  display: block;
  height: 90px;
  width: 130px;
  text-indent: -9999999px;
  margin: 0 auto;
  float: initial;
  /* Small devices (tablets, 768px and up) */
  //  @media (min-width: $screen-sm-min) {
  //   width: 130px;
  //  }
}
.navbar-left{
  float: left;
  margin-left: 0 !important;
}
.navbar-right{
  float: right;
  margin-right: 0 !important;
  padding-top: 30px;
}
// labels
.label{
  border-radius: 0;
}

// link
a.btn{
  text-decoration: none;
}
a.btn-link{
  text-decoration: underline;
}

// inputs
.form-group{
  margin-bottom: 40px;
  /* Small devices (tablets, 768px and up) */
   @media (min-width: $screen-sm-min) {
      margin-bottom: 0;
   }
  label{
    font-size: 20px;
    font-weight: normal;
    /* Small devices (tablets, 768px and up) */
     @media (min-width: $screen-sm-min) {
        margin-bottom: 40px;
     }
  }
}
.form-control{
  background-color: $body-bg;
  border: none;
  border-bottom: 2px solid $brand-primary;
  border-radius: 0;
  font-size: $font-size-base;
  display: block;
  margin: 0 auto;
  @include box-shadow(0);
  @include transition-property(background-color);
  @include transition-property(1s);
  &:focus{
    @include box-shadow(0);
    background-color: darken($body-bg, 5%);
  }
  /* Small devices (tablets, 768px and up) */
   @media (min-width: $screen-sm-min) {
    display: inline-block;
    margin: auto;

   }
}
.form-group{
  margin-bottom: 40px;
}

// panels
.panel{
  border: none;
  padding-bottom: 20px;
  .titulo{
    float: left;
    width: 70%;
    margin-top: 20px;
  }
  .logo-parceiro{
    float: left;
    width: 30%;
    padding-left: 10px;
    margin-top: 20px;
    img{
      float: right;
    }
  }
  .promo{
    float: left;
    width: 100%;
    color: $brand-primary;
    margin-top: 20px;
    .valor{
      font-size: 14px;
      width: 50%;
      float: left;
      text-align: center;
      line-height: 30px;
      /* Small devices (tablets, 768px and up) */
       @media (min-width: $screen-sm-min) {
         font-size: 12px;
         width: 60%;
       }
       /* Small devices (desktops, 992px and up) */
        @media (min-width: $screen-md-min) {
          font-size: 14px;
          width: 50%;
        }
      span{
        font-weight: bold;
        position: relative;
        strong{
          font-size: 32px;
        }
        &:after{
          content: '';
          display: block;
          width: 70%;
          bottom: 0;
          height: 2px;
          background-color: $brand-danger;
          margin-left: 15%;
        }
      }
    }
    .mais{
      float: left;
      width: 10%;
      font-size: 40px;
    }
    .selo-azul{
      background-image: url(../img/selo-azul.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      color: #fff;
      float: left;
      text-align: center;
      width: 40%;
      font-size: 24px;
      padding: 5px;
      margin-top: 14px;
      @media (min-width: $screen-sm-min) {
        font-size: 12px;
        width: 30%;
      }
      @media (min-width: $screen-md-min) {
        font-size: 24px;
        width: 40%;
      }
    }
    .selo-ganheate{
      background-image: url(../img/selo-ganheate.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      color: #fff;
      float: left;
      text-align: center;
      width: 100%;
      font-size: 24px;
      padding: 5px;
      margin-top: 14px;
      padding-top: 22px;
    }
  }
}
