@import "bootstrap/variables";
@import "compass";

.container{
  margin-bottom: 60px;
}

.home{
  background-color: lighten($body-bg,1%);
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
}
.home h1{
  text-align: center;
  margin-bottom: 40px;
}
.container{
  margin-bottom: 30px;
}

.banner{
  position: relative;
  display: none;
  /* Small devices (tablets, 768px and up) */
   @media (min-width: $screen-md-min) {
    display: block;
   }
   .panel{
     /* Small devices (desktops, 992px and up) */
      @media (min-width: $screen-md-min) {
        margin-top: 40px;
      }
   }
}

.banner-home-1{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.banner-principal{
  width:100%;
  max-width: 2800px;
  height:500px;
  margin: 0 auto;
}

.owl-stage-outer, .owl-stage, .owl-item, .item{
  height: 100%;
}

.banner-moto{
  background-image: url('../img/banner-home-moto.png');
  background-size: contain;
  background-position: center;
  background-repeat:no-repeat;
}

.banner-caminhao{
  background-image: url('../img/banner-home-moto.png');
  background-size: contain;
  background-position: center;
  background-repeat:no-repeat;
}


.banner-auto{
  background-image: url('../img/banner-home-auto.png');
  background-size:auto 100%;
  background-repeat:no-repeat;
  .arroba-1{
    position:absolute;
    bottom: 90px;
    left: 240px;
    background-color: transparent;
    border: 0px;
  }
  .arroba-2{
    position:absolute;
    top: 190px;
    left: 440px;
    background-color: transparent;
    border: 0px;
  }
  .arroba-3{
    position:absolute;
    top: 220px;
    left: 530px;
    background-color: transparent;
    border: 0px;
  }
  .arroba-4{
    position:absolute;
    bottom: 170px;
    left: 560px;
    background-color: transparent;
    border: 0px;
  }
}

.nav-banner{
  position: absolute;
  bottom: 0;
  z-index: 99;
  width: 100%;
  .titulo{
    width: 100%;
    text-transform: uppercase;
    color: white;
    font-size: 10px;
    text-align: center;
  }


  .btn-primary{
    width:140px;
    background:transparent;
    border:3px solid #fff;
    color:#fff;
    margin-bottom:5px;
    &:hover{
      background:rgba(255,255,255,0.2);
    }
    &:focus{
      background:rgba(255,255,255,0.2);
    }
    &:active{
      background:rgba(255,255,255,0.2);
    }
  }
}

#banner-2{
  margin-top:40px;
  .nav-banner{
    position: absolute;
    top: -54px;
    z-index: 99;
    .btn-primary{
      width:140px;
    }
    .btn-primary{
      background:transparent;
      border:3px solid #000;
      color:#000;
      &:hover{
        background:rgba(0,0,0,0.2);
      }
      &:focus{
        background:rgba(0,0,0,0.2);
      }
      &:active{
        background:rgba(0,0,0,0.2);
      }
    }
  }
}

.banner-secundario{
  width:100%;
  height:590px;
  background:#0ff;
}

.box-banner-beneficios{
  background-color: #F4F4F5;
  height:300px;
}

.centralizado{
  text-align:center;
}

.traco :after {
    content: '';
    display: block;
    width: 70%;
    bottom: 0;
    height: 2px;
    background-color: red;
    margin-left: 15%;
}


.btn-esquerda{
  width:45%;
  height:46px;
  background-color:#20497D;
  text-align: center;
  float: left;
  a{
    color:#fff;
    display:block;
    padding-top:15px;
  }
}
.separador{
  width:10%;
  height:46px;
  float:left;
}
.btn-direita{
  width:45%;
  height:46px;
  background-color:#ff0000;
  text-align: center;
  float: left;
  margin-left: -1px;
  a{
    color:#fff;
    display:block;
    padding-top:15px;
  }
}

.panel{
  border: none;
  padding-bottom: 0px;
  margin-top:20px;
}

.aviso {
    background: #20497D;
    color: #fff;
    text-align:center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
    a{
      color:#fff;
    }
}

.beneficios{
  padding-top:40px;
  padding-bottom:40px;
  text-align:center;
  h2{
    font-weight:600;
  }
  h3{margin-top:5px;}
  h4{font-size:13px;font-weight:600;}
  p{
    font-size:11px;
    color:#20497D;
  }
}

.content-line{
}
.line{
  width: 100%;
  height: 2px;
  border-top: 1px dotted red;
  position: absolute;
  margin-top: 39px;
}

.form-control{
  background-color: lighten($body-bg, 1%);
  width: auto;
}
.legendas{
  font-size: 10px;
  text-align: center;
  margin-bottom: 20px;
}

.contato-imagem{
  width:100%;
  min-height:600px;
  background-color:#E3E3E5;
  padding-bottom: 40px;
  position: relative;
  .container{
    margin-bottom:0px;
  }
  .imagem{
    background-image:url('../img/encanador.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    display: none;
    /* Small devices (tablets, 768px and up) */
     @media (min-width: $screen-sm-min) {
        display: block;
     }
  }
}

.conteudo-icones{
  margin-top:15px;
  .linha{
    margin-bottom: 10px;
        height: 59px;
  }
  img{
    float: left;
        width: 57px;
  }
  p{
    margin-top: 19px;
   margin-left: 68px;
    font-size: 14px;
    // padding-top: 14px;
    /* Small devices (tablets, 768px and up) */
     @media (min-width: $screen-sm-min) {
        font-size: 14px;
     }
  }
}

.icon-servicos-1{
  background-image:url('../img/icon-servicos-1.png');
}

.contratar-servicos{
  padding-top:40px;
  h2{
    font-weight:600;
    margin-bottom: 40px;

  }
}

/* line 372, ../sass/parceiro.scss */
.footer-bg {
  background-color: #333333;
}

/* line 375, ../sass/parceiro.scss */
.footer {
  background-color: #333333;
  color: #cccccc;
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 12px;
  .ajuda{
    text-align: center;
    // text-transform: uppercase;
    /* Small devices (tablets, 768px and up) */
     @media (min-width: $screen-sm-min) {
      text-align: left;
     }
     /* Small devices (desktops, 992px and up) */
      @media (min-width: $screen-md-min) {
      }
  }
}
/* line 382, ../sass/parceiro.scss */
.footer .col-sm-3 {
  padding: 0 40px;
  margin-bottom: 20px;
}
/* line 386, ../sass/parceiro.scss */
.footer .endereco {
  color: #b3b3b3;
  border-top: 1px solid #b3b3b3;
  padding-top: 25px;
  margin-top: 50px;
}
/* line 393, ../sass/parceiro.scss */
.footer .cartoes{
  margin-left: 0;
  margin-right: 0;
}
.footer .cartoes .col-sm-3 {
  margin-bottom: 10px;
  padding: 0 5px;
}
/* line 397, ../sass/parceiro.scss */
.footer .cartoes .col-xs-offset-2 {
  clear: both;
  /* Small devices (tablets, 768px and up) */
}
@media (min-width: 768px) {
  /* line 397, ../sass/parceiro.scss */
  .footer .cartoes .col-xs-offset-2 {
    clear: none;
  }
}
/* line 405, ../sass/parceiro.scss */
.footer .pagamento {
  text-align: center;
  /* Small devices (tablets, 768px and up) */
}
@media (min-width: 768px) {
  /* line 405, ../sass/parceiro.scss */
  .footer .pagamento {
    text-align: left;
  }
}
/* line 413, ../sass/parceiro.scss */
.footer .logointel img {
  margin-bottom: 20px;
}
/* line 418, ../sass/parceiro.scss */
.footer .braspag img {
  margin: 0 auto;
}
/* line 423, ../sass/parceiro.scss */
.footer h3 {
  font-size: 12px;
  margin-top: 0;
  padding-top: 0;
  // text-transform: uppercase;
  color:#fff;
}
/* line 429, ../sass/parceiro.scss */
.footer a {
  color: #fff;
  font-size:12px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 435, ../sass/parceiro.scss */
.footer a:hover {
  text-decoration: none;
  color: #ff0000;
}
.footer p{
  margin-bottom: 10px;
}

@media (max-width: $screen-md-min){
  .arroba-1,.arroba-2,.arroba-3,.arroba-4{display:none;}
  #banner-2{
      .nav-banner{
        margin-top:-60px;
        .btn-primary{
          width:auto;
          background:transparent;
          margin-bottom:5px;
          }
        }
      }
  .nav-banner{
    position: absolute;
    // top: -54px;
    z-index: 99;

    .btn-primary{
      width:auto;
      background:transparent;
      border:3px solid #fff;
      color:#fff;
      margin-bottom:5px;
      }
    }
    .panel{
      margin-bottom: 70px;
    }
    .content-line{display: none;}
    .line{display: none;}
    .contato-imagem{
      background-image:none;
      h2{text-align:center;}
    }
}

@media (max-width: $screen-sm-min){
  .arroba-1,.arroba-2,.arroba-3,.arroba-4{display:none;}
  .nav-banner{
    .btn-primary{
      width:auto;
      background:transparent;
      border:3px solid #fff;
      color:#fff;
      margin-bottom:5px;
      }
    }
#banner-2{
    .nav-banner{
      margin-top:-60px;
      .btn-primary{
        width:auto;
        background:transparent;
        margin-bottom:5px;
        }
      }
    }
  .panel{
    margin-bottom: 70px;
  }
  .content-line{display: none;}
  .line{display: none;}
  .contato-imagem{
    background-image:none;
  }
}

.login{
  padding-top: 40px;
  .panel-body{
    min-height: 210px;
  }
  .btn{
    font-size: 16px;
    width: 100%;
  }
  .panel{
    min-height: 353px;
  }
}

#parceiros{
  padding-top:25px;
  padding-bottom:25px;
  .thumb{
    border: 1px solid #F4F4F5;
    background: #fff;
    padding: 10px;
  }
}

// modal-box

.modal-box {
  position: fixed;
  background: transparent;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 99999;
  -moz-transition-property: background;
  -o-transition-property: background;
  -webkit-transition-property: background;
  transition-property: background;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}
.modal-box .inner {
  background-color: white;
  position: fixed;
  display: block;
  top: 10%;
  left: 0;
  width: 100%;
  height: auto;
  // text-align: center;
  padding: 40px;
  /* Small devices (tablets, 768px and up) */
}
@media (min-width: 768px) {
  .modal-box .inner {
    left: 50%;
    margin-left: -300px;
    width: 600px;
  }
}
.modal-box .inner .btnFecharIcon {
  position: absolute;
  top: 4px;
  right: 9px;
  cursor: pointer;
  color: #20497D;
  font-size: 38px;
}
.modal-box .inner .btnFechar2 {
  margin-top: 40px;
}
.modal-box.ativo {
  display: block;
  background: rgba(0, 0, 0, 0.5);
}

.croqui{
  margin-top: 120px;
}
