// fonts
@import url('https://fonts.googleapis.com/css?family=Droid+Sans:400,700');

// bootstrap
@import "bootstrap";

// icons fontawsome
@import "font-awesome";

body{
  padding-top: 110px;
}

// text
h1{
  span{
    position: relative;
    &:before{
      content: '';
      bottom: 0;
      background-color: $brand-warning;
      height: 3px;
      width: 90%;
      position: absolute;
      left: 5%;
    }
  }
}

// nav bar

.navbar-brand{
  background-image: url('../img/AssistCenter-logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-size: contain;
  display: block;
  height: 90px;
  width: 130px;
  text-indent: -9999999px;
  margin: 0 auto;
  float: initial;
  /* Small devices (tablets, 768px and up) */
  //  @media (min-width: $screen-sm-min) {
  //   width: 130px;
  //  }
  @include transition-property(height);
  @include transition-duration(0.3s);
}
.navbar{
  // padding-top: 10px;
  padding-bottom: 10px;
  .container{
    margin-bottom: 0;
  }
  .telefone{
    width: 100%;
    background: white;
    padding: 5px;
    text-align: center;
    margin-bottom: 26px;
    border-bottom: 1px solid #e3e3e5;
    color:#20497D;
    @include transition-property(margin-bottom);
    @include transition-duration(0.3s);
    .fa{color:red;}
  }
  &.active{
    .navbar-brand{
      height: 70px;
    }
    .telefone{
      margin-bottom: 15px;
    }
  }
}

.navbar-left{
  float: left;
  margin-left: 0 !important;
  padding-top: 10px;
}
.navbar-right{
  float: right;
  margin-right: 0 !important;
  // padding-top: 30px;
  // padding-top: 15px;
}
// labels
.label{
  border-radius: 0;
}

// link
a.btn{
  text-decoration: none;
}
a.btn-link{
  text-decoration: underline;
}

// inputs
.form-group{
  margin-bottom: 40px;
  /* Small devices (tablets, 768px and up) */
   @media (min-width: $screen-sm-min) {
      margin-bottom: 0;
   }
  label{
    font-size: 20px;
    font-weight: normal;
    /* Small devices (tablets, 768px and up) */
     @media (min-width: $screen-sm-min) {
        margin-bottom: 40px;
     }
  }
}
.form-control{
  background-color: $body-bg;
  border: none;
  border-bottom: 2px solid $brand-primary;
  border-radius: 0;
  font-size: $font-size-base;
  display: block;
  margin: 0 auto;
  @include box-shadow(0);
  @include transition-property(background-color);
  @include transition-property(1s);
  &:focus{
    @include box-shadow(0);
    background-color: darken($body-bg, 5%);
  }
  /* Small devices (tablets, 768px and up) */
   @media (min-width: $screen-sm-min) {
    display: inline-block;
    margin: auto;

   }
}
.form-group{
  margin-bottom: 40px;
}

// panels
.panel{
  border: none;
  padding-bottom: 20px;
  .panel-heading{
    margin-bottom: 20px;
  }
  .panel-title{
    padding: 10px;
  }
  .panel-body{
    h3{
      padding-top: 0;
      margin-top: 0;
    }
  }
  .form-group{
    margin-bottom: 20px;
  }
  .form-control{
    width: 100%;
  }
  .btn{
    float: right;
  }
  .titulo{
    float: left;
    width: 70%;
    // margin-top: 20px;
  }
  .logo-parceiro{
    float: left;
    width: 30%;
    padding-left: 10px;
    // margin-top: 20px;
    img{
      float: right;
    }
  }
  .promo{
    float: left;
    width: 100%;
    color: $brand-primary;
    // margin-top: 20px;
    /* Small devices (desktops, 992px and up) */
     @media (min-width: $screen-md-min) {
      margin-top: 14px;
     }
    .valor{
      font-size: 14px;
      width: 50%;
      float: left;
      text-align: center;
      line-height: 20px;
      /* Small devices (tablets, 768px and up) */
       @media (min-width: $screen-sm-min) {
         font-size: 12px;
         width: 60%;
       }
       /* Small devices (desktops, 992px and up) */
        @media (min-width: $screen-md-min) {
          font-size: 14px;
          width: 50%;
          line-height: 25px;
        }
      span{
        font-weight: bold;
        position: relative;
        strong{
          font-size: 20px;
        }
        &:after{
          content: '';
          display: block;
          width: 70%;
          bottom: 0;
          height: 2px;
          background-color: $brand-danger;
          margin-left: 15%;
        }
        &.antes{
          &:after{
            content: '';
            display: block;
            // width: 100%;
            width: 70%;
            margin-left: 14%;
            bottom: 0;
            height: 2px;
            background-color: $brand-danger;
            // margin-left: 0;
            margin-top: -18px;
            margin-bottom: 14px;
          }
        }
        &.depois{
          &:after{
            height: 0;
          }
        }
      }

    }
    .mais{
      float: left;
      width: 10%;
      font-size: 30px;
      text-align: center;
      margin-top: 15px;
    }
    .selo-azul{
      background-image: url(../img/selo-azul.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      color: #fff;
      float: left;
      text-align: center;
      width: 40%;
      font-size: 24px;
      padding: 5px;
      margin-top: 14px;
      font-weight: bold;
      font-style: italic;
      @media (min-width: $screen-sm-min) {
        font-size: 12px;
        width: 30%;
      }
      @media (min-width: $screen-md-min) {
        font-size: 24px;
        width: 40%;
      }
    }
    .selo-ganheate2{
      background-image: url(../img/selo-ganheate.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      color: #fff;
      float: left;
      margin: 0 auto;
      text-align: center;
      width: 100%;
      height: 55px;
      font-size: 21px;
      padding: 5px;
      margin-top: 12px;
      padding-top: 20px;
      font-weight: bold;
      font-style: italic;
      // margin-left: 20%;
      /* Small devices (tablets, 768px and up) */
       @media (min-width: $screen-sm-min) {
         height: 38px;
         padding-top: 12px;
       }
       /* Small devices (tablets, 768px and up) */
        @media (min-width: $screen-md-min) {
          height: 55px;
          padding-top: 20px;
        }
    }
    .selo-ganheate2{
      background-image: url(../img/selo-ganheate2.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      color: #fff;
      float: left;
      margin: 0 auto;
      text-align: center;
      width: 100%;
      height: 55px;
      font-size: 21px;
      padding: 5px;
      margin-top: 12px;
      padding-top: 20px;
      font-weight: bold;
      font-style: italic;
      // margin-left: 20%;
      /* Small devices (tablets, 768px and up) */
       @media (min-width: $screen-sm-min) {
         height: 38px;
         padding-top: 12px;
       }
       /* Small devices (tablets, 768px and up) */
        @media (min-width: $screen-md-min) {
          height: 55px;
          padding-top: 20px;
        }
    }
  }
}

// grid assistencias
#grid-assistencias{
  color: $brand-primary;
  .produto{
    background: white;
    margin-bottom: 20px;
  }
  .logo-parceiro{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    img:first-child {
      width: 197px;
    }
    /* Small devices (tablets, 768px and up) */
     @media (min-width: $screen-sm-min) {
       padding-top: 80px;
       text-align: center;
       img:first-child {
         width: 60%;
       }
       img:nth-child(2){
         width: 30%;
       }
     }
     /* Small devices (desktops, 992px and up) */
      @media (min-width: $screen-md-min) {
        img:first-child, img:nth-child(2){
          width: auto;
        }
      }
  }
  .col{
    background-color: #FAFAFA;
    text-align: center;
    padding: 51px 15px;
    border-bottom: 1px solid $body-bg;
    /* Small devices (tablets, 768px and up) */
     @media (min-width: $screen-sm-min) {
       border-left: 1px solid $body-bg;
       border-bottom: none;
     }

    .valor{
      font-size: 14px;
      line-height: 20px;
      /* Small devices (tablets, 768px and up) */
       @media (min-width: $screen-sm-min) {
         font-size: 12px;
       }
       /* Small devices (desktops, 992px and up) */
        @media (min-width: $screen-md-min) {
          font-size: 14px;
          line-height: 25px;
        }
      span{
        &.antes{
          position: relative;
          &:after{
            content: '';
            height: 2px;
            background: $brand-danger;
            width: 100%;
            position: absolute;
            top: 50%;
            left: 0;
          }
        }
        &.depois{
          font-size: 20px;
          /* Small devices (tablets, 768px and up) */
           @media (min-width: $screen-sm-min) {
            font-size: 16px;
           }
        }
      }
    }
    .mais{
      width: 10%;
      font-size: 30px;
      text-align: center;
      display: inline-block;
    }
    .selo-azul{
      display: inline-block;
      background-image: url(../img/selo-azul.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      color: #fff;
      text-align: center;
      width: 40%;
      font-size: 20px;
      padding: 5px;
      font-weight: bold;
      font-style: italic;
      @media (min-width: $screen-sm-min) {
        font-size: 20px;
        width: 70%;
      }
      @media (min-width: $screen-md-min) {
        font-size: 20px;
        width: 40%;
      }
    }
    .linha{
      width: 100%;
    }
    .selo-ganheate{
      background-image: url(../img/selo-ganheate.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      color: #fff;
      margin: 0 auto;
      text-align: center;
      width: 70%;
      height: 55px;
      font-size: 21px;
      padding: 5px;
      margin-top: 12px;
      margin-bottom: 12px;
      padding-top: 20px;
      font-weight: bold;
      font-style: italic;
      // margin-left: 20%;
      /* Small devices (tablets, 768px and up) */
       @media (min-width: $screen-sm-min) {
         height: 38px;
         width: 100%;
         font-size: 18px;
         padding-top: 12px;
       }
       /* Small devices (tablets, 768px and up) */
        @media (min-width: $screen-md-min) {
          height: 55px;
          padding-top: 20px;
        }
    }
    .btn-primary{
      width: 100%;
    }
  }
}
